.btn-add,
.btn-edit,
.btn-back,
.logout-btn,
.dark-btn{
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.btn-add { background:#1c5cc5;;
    color:#fff;
    text-decoration:none;
    /* padding:15px 18px; */
    border-radius:12px;
    font-size:14px;
    transition:.3s;
}
.btn-edit{background:#3b82f6;}
.btn-back{background:#64748b;}
.logout-btn{background:#ef4444;}
.dark-btn{background:#111827;}

.btn-edit{
    background:#2e15bb;
    color:white;
    padding:7px 12px;
    border-radius:8px;
    text-decoration:none;
    margin-right:5px;
}

.btn-delete{
    background:#ef4444;
    color:white;
    border:none;
    padding:7px 12px;
    border-radius:8px;
    cursor:pointer;
}


.btn-delete:hover{
    background:#dc2626;
}
/* department edit */
.btn-edit{
    background:#225dcb;
    color:white;
    padding:7px 12px;
    border-radius:8px;
    text-decoration:none;
    margin-right:5px;
    
    /* margin left: 80%; */
}

.btn-delete{
    background:#ef4444;
    color:white;
    border:none;
    padding:7px 12px;
    border-radius:8px;
    cursor:pointer;
    
    /* margin-left: 90%; */
}

.btn-delete:hover{
    background:#dc2626;
}
/* punch in/out */
.success-msg{
    background:#22c55e;
    color:white;
    padding:12px;
    border-radius:8px;
    margin-bottom:15px;
}