body.dark-mode{
    background:var(--theme-color);
    color:white;
}

body.dark-mode .navbar,
body.dark-mode .table-box,
body.dark-mode .profile-card{
    background:var(--theme-color);
    color:white;
}

body.dark-mode table th{
    background:var(--theme-color);
}