.navbar{
    background:var(--theme-color);
    padding:20px 30px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.nav-left h3{
    margin:0;
}

.nav-right a{
    text-decoration:none;
}