/* SIDEBAR */

.sidebar{
    width:240px;
    height:100vh;
    background:#0f172a;
    position:fixed;
    left:0;
    top:0;
    padding:20px;
    overflow-y:auto;
}

/* LOGO */

.logo{
    margin-bottom:30px;
}

.logo h2{
    color:#fff;
    margin:0;
}

/* LINKS */

.sidebar a,
.dropdown-btn{
    display:block;
    width:100%;
    padding:12px 15px;
    margin-bottom:10px;
    color:#fff;
    text-decoration:none;
    border:none;
    background:none;
    text-align:left;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    font-size:15px;
}

/* HOVER */

.sidebar a:hover,
.dropdown-btn:hover{
    background:#1e293b;
}

/* ACTIVE */

.sidebar a.active{
    background:#2563eb;
}

/* DROPDOWN */

.dropdown-container{
    display:none;
    padding-left:15px;
}

.dropdown-container.show{
    display:block;
}

.dropdown-container a{
    font-size:14px;
}

/* LOGOUT */

.logout-btn{
    background:#dc2626 !important;
    text-align:center !important;
    width:85% !important;
    margin:30px auto 0;
    border-radius:10px;
    display:block;
    padding:12px;
}
.logout-btn:hover{
    background:#b91c1c !important;
}