.sidebar{
    width:240px;
    height:100%;
    min-height:100vh;
    background:#0f172a;
    position:fixed;
    top:0;
    left:0;

    padding:15px 15px 50px 15px;

    overflow-y:auto;
    overflow-x:hidden;

    box-sizing:border-box;
}
/* HRM Logo Box */
.logo{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;
}

.logo h2{
    color:#2563eb;
    margin:0;
    font-size:24px;
    font-weight:bold;
}

/* Sidebar Menu Links */
.sidebar a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 15px;
    color:#cbd5e1;
    border-radius:8px;
    margin-bottom:8px;

    text-decoration:none;      /* underline remove */
    border:none;
    outline:none;
    transition:0.3s;
}

/* Hover + Active */
.sidebar a:hover,
.sidebar a.active{
    background:#2563eb;
    color:white;
    text-decoration:none;
}

/* Visited / Focus */
.sidebar a:visited,
.sidebar a:focus{
    text-decoration:none;
    color:#cbd5e1;
}

/* Scroll if many menu items */
.sidebar{
    overflow-y:auto;
}

/* Scrollbar style */
.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}
.dropdown-menu{
    display:none;
    padding-left:15px;
}

.dropdown-menu.show{
    display:block;
}

.dropdown-menu a{
    display:block;
    padding:10px;
    font-size:14px;
}
.sidebar::-webkit-scrollbar{
    width:5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}