body{
    margin:0;
    font-family:Arial;
    background:#f4f6f9;
}

.main{
    margin-left:240px;
}

.content{
    padding:25px;
}

.card-box{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:220px;
    background:#1858e2;
    color:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.card h1{
    color:white;
}